<!-- scr/WijnshopTest/Presentation/Footer.twig --> 
    <section class="footer clearfix">
        <div class="footerwrapper">
            <div class="footertitel clearfix">
                <h4>Kristof Maurissen</h4>
            </div>
        </div>
    </section> 
    </body>
</html>