<!DOCTYPE HTML>
<!-- scr/WijnshopTest/Presentation/Header.twig --> 
<html> 
    <head> 
        <meta charset=utf-8> 
        <title>Wijnshop</title>
        <link rel="stylesheet" href="css/styling.css">
    </head> 
    <body>
        <section class="header clearfix">
            <div class="headerwrapper">
                <div class="headertitel clearfix">
                    <h4>Eindoefening PHP : Wijnshop</h4>
                </div>
                <a href="index.php">
                    <div class="headerlogo">
                        <img id="logo" src="images/logo.jpg" alt="Logo"/>
                    </div>
                </a>
                <div class="reglog">
                    <div class="reg">
                        <a href="winkelmandje.php"> Winkelmandje </a>
                    </div>
                    <div class="reg">
                        <a href="registreren.php"> Registreren </a>
                    </div>
                    <div class="reg">
                        <a href="login.php"> Aanmelden </a>
                    </div>
                </div>
            </div>
        </section>    
        
        
    
   
