    <section class="wrappersidebar ">
        <section class="wrapperitem">
            <div class="navtitel">
                <p>Soorten</p>
            </div>
                <div class="navigatie">
                    <a class="link" href="product.php?action=select&wijn=rood">
                    <nav class="link">
                        Rode wijnen
                    </nav>
                    </a>
                </div>
                <div class="navigatie">
                    <a class="link" href="product.php?action=select&wijn=wit">
                    <nav class="link">
                        Witte wijnen
                    </nav>
                    </a>
                </div>
                <div class="navigatie">
                    <a class="link" href="product.php?action=select&wijn=rose">
                    <nav class="link">
                        Rosé wijnen
                    </nav>
                    </a>
                </div>
        </section> 
        <section class="wrapperitem">
            <div class="navtitel">
                <p>Landen</p>
            </div>
                <div class="navigatie">
                    <a class="link"  href="product.php?action=select&land=Frankrijk">
                    <nav class="link">
                        Frankrijk
                    </nav>
                    </a>
                </div>
                <div class="navigatie">
                    <a class="link" href="product.php?action=select&land=Spanje">
                    <nav class="link">
                        Spanje
                    </nav>
                    </a>
                </div>
                <div class="navigatie">
                    <a class="link" href="product.php?action=select&land=Italie">
                    <nav class="link">
                        Italië
                    </nav>
                    </a>
                </div>
        </section>
        <section class="wrapperitem">        
            <div class="navtitel">
                <p>Jaartallen</p>
            </div>
                <div class="navigatie">
                    <a class="link"  href="product.php?action=select&jaar=2010">
                    <nav class="link">
                        2010
                    </nav>
                    </a>
                </div>
                <div class="navigatie">
                    <a class="link" href="product.php?action=select&jaar=2011">
                    <nav class="link">
                        2011
                    </nav>
                    </a>
                </div>
                <div class="navigatie">
                    <a class="link" href="product.php?action=select&jaar=2012">
                    <nav class="link">
                        2012
                    </nav>
                    </a>
                </div>
                <div class="navigatie">
                    <a class="link" href="product.php?action=select&jaar=2013">
                    <nav class="link">
                        2013
                    
                    </nav>
                    </a>
                </div>
                <div class="navigatie">
                    <a  class="link"href="product.php?action=select&jaar=2014">
                    <nav class="link">
                        2014
                    </nav>
                    </a>    
                </div>
                <div class="navigatie">
                    <a class="link" href="product.php?action=select&jaar=2015">
                    <nav class="link">
                        2015
                    </nav>
                    </a>    
                </div>
        </section>   
    </section>
       
       
        
        
    
